<header class="layout-header container">
    <div class="row">
        <div class="col-md-4">
            <a href="/">
            <img style="padding:10px;" width="150" src="/Logo.png" alt="Service Query Logo" />            
            </a>
        </div>
        <div class="col-md-4" style="padding-top:30px;">
            <strong class="fs-5">Service Query Starter Application</strong>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>        
</header>