@{
    ViewBag.Title = "Example";
    ViewBag.Description = "Example";
    ViewBag.Keywords = "Example";
}
<h1>Controller Example</h1>
<p>
    This example is contained in the WebApp/Controllers/BaseExampleController.cs file of the project (Index method).
    It shows how to query data inside of a controller.
</p>

